body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: rgb(76, 76, 231);
}

h1{
    font-size: xx-large;
}

h2{
    font-size: x-large;
}

.container {
    text-align: center;
}

.clock{
    color: whitesmoke;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: gray;
    color: whitesmoke;
    font-size: larger;
}

button:hover{
    background-color: greenyellow;
    color: black;
}

.country {
    text-align: center;
}
